* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  overflow: hidden;
}

#bg{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
  opacity: .6;
  filter: blur(65px);
}

#bg_player_mask{
  background-color: rgba(0,0,0,.15);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

svg {
  width: 50%;
  height: 50%;
}

.side {
  z-index: 3;
  position: fixed;
  right: -100px;
  top: 5%;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 1s ease;
}


.side:hover div {
  background-image: url(../images/side_right.svg);
}

.side div {
  width: 50px;
  height: 50px;
  background-image: url(../images/side_left.svg);
  background-size: cover;
}

.side a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

.side:hover {
  transform: translateX(-100px);
}

html{
  backdrop-filter: blur(70px);
}

#main {
  z-index: 2;
  margin: 0 7.638889%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player__bd,
#player_ft {
  position: absolute;
  width: 100%;
}

#player__bd {
  display: flex;
  height: 60%;
  top: 10%;
}

#player_ft {
  height: 11%;
  bottom: 0;
}

#btn_prev {
  background-position: 0 -30px;
  color: black;
}

#btn_play {
  top: 0;
  left: 65px;
  width: 21px;
  height: 29px;
}

#btn_next {
  left: 132px;
  background-position: 0 -52px;
}

#btn_prev,
#btn_next {
  top: 4px;
  width: 19px;
  height: 20px;
}

#player_ft_main {
  width: 60%;
  position: relative;
  margin: 0 0 0 208px;
  height: 100%;
}

#player_progress {
  position: relative;
  height: 8px;
}

#player_music_info {
  color: white;
  font-size: 16px;
}


#player_progress_played {
  width: 0px;
  position: absolute;
  top: 10px;
  background-color: white;
  height: 3px;
}

#player_progress_dot {
  z-index: 1;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  top: -3px;
}

#player_music_time {
  position: absolute;
  top: 0;
  right: 0;
  color: aliceblue;
}

#player_progress_inner {
  width: 100%;
  position: absolute;
  top: 10px;
  background-color: white;
  height: 3px;
  opacity: 0.6;
}

#btn_loop {
  top: 4px;
  width: 26px;
  height: 25px;
  left: 74.4%;
  background-position: 0 -205px;
}

#player_voice {
  margin-left: 1px;
  top: 0;
  height: 50px;
  left: 77.6%;
  width: 80px;
  position: absolute;
}

#voice_logo {
  background-position: 0 -144px;
  left: 0px;
  width: 26px;
  height: 21px;
  top: 5px;
}

#voice_inner {
  position: absolute;
  left: 35px;
  top: 15px;
  width: 80px;
  height: 3px;
  background-color: white;
  opacity: 0.6;
}

#voice_overed {
  position: absolute;
  left: 35px;
  top: 15px;
  width: 50px;
  height: 3px;
  background-color: white;
}

#voice_dot {
  z-index: 1;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  left: 48px;
  top: -4px;
  width: 10px;
  height: 10px;
}

#btn_prev,
#btn_play,
#btn_next,
#btn_loop,
#voice_logo {
  opacity: 0.6;
  position: absolute;
  background-image: url("../images/music.png");
}

#player__main {
  flex: 4;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 5fr 3fr 1fr;
  grid-auto-rows: 50px;
  color: white;
  opacity: 0.8;
  overflow-y: auto;
  height: calc(100vh - 16rem);
}

#player__main::-webkit-scrollbar {
  display: none;
}

.play_icon:hover,
#voice_logo:hover,
#btn_prev:hover,
#btn_next:hover,
#btn_loop:hover,
#btn_play:hover,
#voice_dot:hover,
#player_progress_dot:hover {
  opacity: 1;
  cursor: pointer;
}

#player_progress_dot:hover,
#voice_dot:hover,
#player_progress_click:hover,
#voice_click:hover {
  cursor: pointer;
}

.pause {
  background-position: -30px 0;
}

.no_vocie {
  background-position: 0 -182px !important;
}

.btn_single {
  background-position: 0 -232px !important;
}

.btn_random {
  background-position: 0 -74px !important;
  width: 25px !important;
  height: 19px !important;
}

.change:hover {
  opacity: 1 !important;
}

.change {
  top: 18px;
  position: relative;
}

.play_icon {
  opacity: 1 !important;
  display: block;
  left: 90%;
  top: -10px;
  width: 36px;
  height: 36px;
  background: url("../images/icon_list.png") no-repeat transparent;
  background-size: 200px 320px;
  background-position: -80px 0;
}

.play_icon:hover {
  background-position: -120px 0;
}

.wave {
  display: none;
}

#song_info {
  color: white;
  width: 340px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#song_img {
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 186px;
  height: 186px;
  background: url("../images/album/album.png") no-repeat;
  background-size: cover;
}

#song_img::after {
  position: absolute;
  content: "";
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 201px;
  height: 180px;
  background: url("../images/album/album_cover.png") 0 0 no-repeat;
  background-size: cover;
}

#song_name {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 1em;
  margin-top: 200px;
}

#singer {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 1em;
  margin-top: 240px;
}

#main::before {
  content: "";
  width: 200%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

#player_progress_click {
  width: 100%;
  position: absolute;
  top: 4px;
  height: 15px;
}

#voice_click {
  position: absolute;
  left: 35px;
  top: 10px;
  width: 80px;
  height: 15px;
  opacity: 0;
}

.light {
  opacity: 0.8;
}

#song_lrc {
  line-height: 34px;
  transition: transform 0.1s ease-out;
  margin-top: -136px;
}

.on {
  color: #31c27c;
}

#song_lrc_info {
  position: absolute;
  width: 100%;
  top: 320px;
  height: calc(100vh - 38rem);
  -webkit-mask-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .6) 15%, #fff 25%, #fff 75%, hsla(0, 0%, 100%, .6) 85%, hsla(0, 0%, 100%, 0));
}

#no_lrc {
  color: #31c27c;
}

/* 兼容窗口缩小 */
@media screen and (max-width: 1671px) {
  #btn_loop {
    left: 80%;
  }

  #player_voice {
    left: 85%;
  }
}

@media screen and (max-width: 1200px) {
  #btn_loop {
    left: 85%;
  }

  #player_voice {
    left: 90%;
  }
}

@media screen and (min-width: 510px) and (max-width: 990px) {

  #btn_loop {
    display: none;
  }

  #player_voice {
    opacity: 0;
    left: 999%;
  }
}

/* 适配2K分辨率 */
@media screen and (min-width: 2030px) and (max-width: 2048px) {
  #player_ft {
    left: 6%;
  }
}

/* 适配手机 */
@media screen and (max-width: 500px) {
  html {
    font-size: 18px;
  }

  #player__main,
  #player_music_info,
  .side {
    display: none;
  }

  #player_music_time {
    opacity: 1;
    pointer-events: none;
    top: -1.3rem;
    left: -17rem;
    font-size: .8rem;
  }

  #btn_loop {
    left: -5rem;
  }

  #player_progress {
    width: 400%;
    left: -17rem;
    bottom: 2.4rem;
  }

  #player_voice {
    visibility: hidden;
  }

  #main {
    height: 100vh;
  }

  #main::before {
    width: 500%;
  }

  #player_ft {
    width: 8rem;
    bottom: -0.8rem;
  }

  #song_lrc_info {
    top: 17rem;
    height: 18rem;
  }

  #btn_prev,
  #btn_next,
  #btn_play {
    opacity: 1;
  }

  #song_info {
    top: 3rem;
    width: 375px;
  }
}

@media screen and (max-height: 780px) {
  #player_ft {
    bottom: 1rem;
  }

  #song_lrc_info {
    top: 15.5rem;
    height: 17rem;
  }

  #song_info {
    top: 1rem;
  }
}